:root {
  --primary-color: #cc0e74;
  --secondary-color: #382e6b;
  --tertiary-color: #f7f0e69a;
}

.TemperatureCF {
  padding: 0;
  float: left;
  margin-left: 10px;
}

.unit {
  margin-left: 1px;
  padding: 0;
  margin-top: -100px;

  font-size: 20px;
  color: var(--primary-color);
}

.unit a {
  text-decoration: none;
  color: var(--primary-color);
}

.current-temperature {
  font-size: 90px;
  padding: 0;
  color: var(--primary-color);
}
