:root {
  --primary-color: #cc0e74;
  --secondary-color: #382e6b;
  --tertiary-color: #f7f0e69a;
}

.TemperatureCF {
  padding: 0;
  float: left;
  margin-left: 10px;
  margin-top: -15px;
}

.unit {
  margin-left: 100px;
  margin-top: -100px;

  display: flex;
  justify-content: flex-end;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}

.unit a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 3px;
}

.current-temperature {
  font-size: 90px;
  padding: 0;
  color: var(--primary-color);
  margin-bottom: 30px;
}
