:root {
  --primary-color: #cc0e74;
  --secondary-color: #382e6b;
  --tertiary-color: #f7f0e69a;
}

.TemperatureCF {
  padding: 0;
  float: left;
  margin-left: 10px;
}

.unit a {
  margin-left: 1px;

  font-size: 20px;
  color: var(--primary-color);
  text-decoration: none;
 
}

.TemperatureCF .unit {
  position: fixed;
  margin-top: 25px;
}
.current-temperature {
  font-size: 85px;
  padding: 0;
  color: var(--primary-color);
}
