:root {
  --primary-color: #cc0e74;
  --secondary-color: #382e6b;
  --tertiary-color: #f7f0e69a;
}

body {
  font-family: "Source Code Pro", monospace;


}

canvas {
  height: 50px;
  width: 50px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.Weather .container {
  border: solid;
  border-color: var(--primary-color);
  background-color: var(--tertiary-color);

  border-radius: 10px;
  margin-top: 150px;
  max-width: 800px;
}

.Weather h1 {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
  color: var(--primary-color);
  font-size: 53px;
}

form {
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  margin: 0;
  padding: none;
  text-align: left;
  font-size: 18px;
}

#query-box {
  background-color: var(--secondary-color);
  border: solid;
  border-radius: 15px;
  border-color: var(--primary-color);
  text-align: center;
  padding: 7px;
  color: white;
}

#search-button {
  border: solid;
  border-color: var(--primary-color);
  background-color: transparent;
  border-radius: 15px;
  margin-left: 10px;
  padding: 5px;
}

#location-button {
  border: solid;
  border-color: var(--primary-color);
  background-color: transparent;
  border-radius: 15px;
  margin-left: 20px;
  padding: 5px;
}

#location-button:hover {
  background-color: var(--secondary-color);
  color: white;
}

#search-button:hover {
  background-color: var(--secondary-color);
  color: white;
}
